<section>
    <div class="row">
        <div class="container">
            <h1 class="text-centre">Order Placed Successfully</h1>
            <a href="/orders" class="btn btn-primary">View Orders</a>
        </div>
    </div>
</section>