<di class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-">
            <h2 class="text-center">Create New Account</h2>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="Name" placeholder="Enter Name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" name="Email" placeholder="Enter Email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="Password" placeholder="Enter Password" class="form-control">
                </div>
                <a href="/login">Already have Account?</a>
                <button class="btn btn-primary float-right">Signup</button>
            </form>
        </div>
    </div>
</di>